If:
  PathMatch: .*

CompileFlags:
  CompilationDatabase: "build"

Index:
  StandardLibrary: Yes

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: '*'
    Remove:
      - llvmlibc-restrict-system-libc-headers
      - llvmlibc-implementation-in-namespace
      - readability-redundant-declaration
      - llvmlibc-callee-namespace
      - misc-use-internal-linkage
      - cppcoreguidelines-pro-type-vararg
      - hicpp-vararg
      - altera-unroll-loops
      - cppcoreguidelines-pro-type-reinterpret-cast
      - fuchsia-trailing-return
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-pro-type-union-access
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
      - hicpp-no-array-decay
      - altera-struct-pack-align
      - llvmlibc-inline-function-decl
      - hicpp-avoid-goto
      - cppcoreguidelines-avoid-goto
      # - readability-magic-numbers
      # - cppcoreguidelines-avoid-magic-numbers
      # これは本当にいるのか？
      - hicpp-avoid-c-arrays
      - cppcoreguidelines-avoid-c-arrays
    CheckOptions:
      readability-identifier-naming.VariableCase: snake_case

InlayHints:
  Enabled: Yes
  Designators: No
  DeducedTypes: Yes
  ParameterNames: Yes
